
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'SofiaPro',Helvetica,Arial,sans-serif !important;

  font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1.75 !important;
}


:root{
  --ThemeColor: rgb(86, 36, 179);
}

.container-large {
  width: 80%;
  margin: auto;
}

.logo {
  font-family: 'Dela Gothic One', cursive !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  color: rgb(21, 125, 156) !important;
}

.bg-theme-color {
  background-color: var(--ThemeColor) !important;
}

.bg-light-blue {
  background-color: #F5F7FC;
}

.text-bb {
  color: rgb(183 24 17);
}

.color-grey {
  color: #77838F !important;
}

.color-dark{
  color: #2f2f2f;
}
.color-white {
  color:white !important;
}

.color-theme {
  color: var(--ThemeColor) !important;
}

h3 {
  color: #161615 !important;
}


.page-center {
  margin: auto;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bordered {
  border: 1px solid rgba(160, 160, 160, 0.13);
  padding: 40px;
}

.shadow {
  box-shadow: 3px 2px 3px 2px rgba(0, 0, 0, 0.2);
  transition-duration: 0.5s;
}

.text-big {
  font-size: 16px;
}
.mt-8 {
  margin-top: 64px;
}

.home-showcase {
  height: 90vh;
  background: url('../images/indir.png') no-repeat 50%;
  background-size: cover;
  background-position: bottom;
}

.bold-header {
  font-weight: 800 !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  color: #161615;
}

.home-about {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center ;

}


.ico {
  height: 100px;
  background-position: center;
  margin-top: 20px;
}

.jobseekerico{
  background: url('../images/jobseeker.png') no-repeat 50%;
  background-size: 100px;
}

.employerico{
  background: url('../images/employer.png') no-repeat 50%;
  background-size: 100px;
}

.description {
  text-align: left !important;
  padding-left: 10%;
  padding-top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 30px;
}
.shadow:hover {
  background-color: #f6fbff !important;
  box-shadow: 0px 0px 20px 1px rgba(205, 205, 205, 1) !important;
}
.shadow-no-hover:hover {
  
  background-color: white !important;
}

.line {
  border: 2px solid rgb(7, 36, 75);
  background-color: rgb(0, 52, 121);
}

.ms-8 {
  margin-left: 80px;
}

.bg-footer {
  background-color: rgb(211, 211, 211) !important;
}

.full-bg-image{
  min-height: 100vh;
  background: url('../images/login2.jpg') no-repeat 50%;
  background-size: cover;
  background-position: right;
}
.full-bg-image2{
  min-height: 100vh;
  background: url('../images/register.jpg') no-repeat 50%;
  background-size: cover;
  background-position: right;
}

.no-scroll {
  overflow: hidden !important;
}

.message-block {
  border-radius: 100px;
}

.secondary-text {
  font-size: x-small !important;
  line-height: 0.5px !important;
}

.primary-text {
  font-weight: 600;
}
.bolder-text {
  font-weight: 500 !important;
}
.full-bold-text {
  font-weight: 900 !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.message-item {
  margin-top: 30px;
}

.message-content {
  border: 5px solid transparent !important;
  transition-duration: 0.3s !important;
}

.message-content:hover {
  border: 5px dashed  rgba(128, 128, 128, 0.335) !important;
  cursor: pointer;
}

.z-index-1 {
  z-index: 100;
}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: transparent !important;
}

.rounded-5 {
  border-radius: 50px;
}
.rounded-4 {
  border-radius: 40px;
}
.rounded-w {
  border-radius: 20px !important;
}
.rounded-2 {
  border-radius: 20px !important;
}

.bolder {
  font-weight: 600 !important;
}


.hover-shadow {
  transition-duration: 0.25s;
}

.hover-shadow:hover {
  box-shadow: 0 6px 15px 0 rgb(64 79 104 / 25%) !important;
}

.font-small {
  font-size: 85%;
}

.anim {
  transition-duration: 0.4s;
}

.anim-speed {
  transition-duration: 0.2s;
}

.anim-slow {
  transition-duration: 0.6s;
}

.user-name {
  color:rgb(93, 93, 93);
  text-shadow: 2px 2px 2px rgb(195, 195, 195);
}

.cursor-pointer {
  cursor: pointer;
}

.YTInfoBox {
  /* background-color: rgb(246, 246, 246) !important;
  display: flex;
  width: 300px;
  padding: 40px 20px;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 500;
  color: #202124;
  margin: 15px;
  margin-left: 0px;
  border-radius: 10px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.app-statistics {
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  letter-spacing: 1.7px;
}

.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}

.text-small {
  font-size: 18px;
}

.statistics-counter {
  margin-left: auto;
  text-align: center;
  font-size: 24px;
  padding: 25px 0px;
  border-left: 1px solid white;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 85px;
  flex: 0 0 85px;
}

/*Login panel*/

.full-panel {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-panel {
  background-color: #F5F7FC;
  font-size: 125%;
}
.register-panel {
  background: linear-gradient(to top right, #fc2c77 0%, #6c4079 100%);
}

.login-register-panel {
  background: linear-gradient(135deg ,#f75959 0%,#f35587 100%);
  color: #fff;
}

.register-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 20px 0 rgb(0 0 0 / 15%);
  width: 600px;
}

.register-card-text label{
  font-size: 16px !important;
  color: #555 !important;
  text-transform: capitalize !important;
  display: block !important;
  margin-bottom: 5px !important; 
  font-weight: 400 !important;
  font-family: poppins,arial,helvetica neue,sans-serif !important;
}
.register-card-text .text-danger {
  color: red !important; 
}

.imageUpload {
  position: relative;
  min-width: 200px;
  max-width: 250px;
}

.imageUpload .imageUpload-btn {
  position: absolute;
  left: 50%; 
  bottom: 10px;
  margin-left: auto; 
  margin-right: auto; 
  transform: translate(-50%, -50%);
}

.transparent {
  background-color: transparent;
}